<!DOCTYPE html>
{% load static %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet"><link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>BLOG</title>
</head>
<body>
<form method="POST" class="container">
{% csrf_token %}
  <h1>Login</h1>
  <input type="text" name="email" required>
  <label for="text"><span>Email</span></label>
  <input type="password" name="password" id="" required>
  <label for="password"><span>Password</span></label>
  <button type="submit">Login</button>
  <p>Don't have an account? <a href="{% url 'signup'%}">Register</a>.</p>
</form>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>