*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #374151;
  }
  ::-webkit-scrollbar-thumb {
    background: #111827;
    border-radius: 5px;
  }
  

body{
    width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 70px;
}
nav button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
}
nav  img{
    width: 35px;
    display: none;
}
nav img.logo{
    display: block;
}
nav .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .navbar a{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
margin: 0 20px;
text-decoration: none;
}
nav .right{
    display: flex;
    align-items: center;
}
nav .right span{
    color: white;
    margin-left:15px ;
}
nav .search {
    position: relative;
}
nav .search img{
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    width: auto;
}
nav .search input{
    width: 224px;
    height: 40px;
    background: rgba(31, 41, 55, 0.6);
    border-radius: 100px;
    border: none;
    color: white;
    padding-left: 47px;
    outline: none;
    transition: all 0.5s;
}
nav .search input::placeholder{
    color: white;
    opacity: 0.6;
}

header{
    margin: 60px 100px 20px;
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    gap: 25px;
}
main{
    margin: 60px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100vw;
    padding: 0 50px;
}
main.form{
    margin-top: 0;
}
main .post{
    margin: 30px;
}
header>div:first-child img{
    min-width: 100%;
    min-height: 100%;
}
header> div,
main>div{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
main  .img{
    width:340px ;
    height: 230px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .img img{
    min-width: 100%;
    min-height: 100%;
}
  .type{
    margin-top: 10px;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
opacity: 0.6;
}
  .title{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 38px;
color: #FFFFFF;
margin: 30px 0;
}
main .title{
    margin: 5px 0;
}
  .description{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(255, 255, 255, 0.6);
height: 110px;
text-overflow: ellipsis;
overflow: hidden;
white-space: wrap;
}
  .profile{
    margin-top: 30px;
    display: flex;
}
main .profile {
    margin-top: 5px;
}
  .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
}
  .profile .profile-desc{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
color: #FFFFFF;
}
  .profile .profile-desc div:nth-child(2){
    opacity: 0.6;
}
main .post{
    width: 340px;
}
.searchtxt {
    font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
margin: 100px 0;
}
.noresult{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
margin: auto;
}
.noresult div:first-child{
    font-size: 64px;
line-height: 87px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 15px 50px;
}
.header > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header >div:nth-child(2){
    align-items: flex-start;
    font-size: 35px;
    color: white;
}
.header img{
    max-width: 300px;
    border-radius: 50%;
}
@media screen and (max-width: 58rem) {
    nav  img {
        display: block;
    }
    nav button{
        display: block;
    }
    nav .navbar{
        width: 100vw;
        height: calc(100vh - 150px);
        position: fixed;
        top: 120px;
        left: -100vw;
        flex-direction: column;
        background: #111827af;
        transition: all 0.5s;
    }

    
    nav .search input{
        width: 0px;
        padding: 0;
    }
    nav .search img{
        display: none;
    }
    header{
        grid-template-columns: 1fr;
        margin: 60px 30px 20px;
    }
    
}
@media screen and (max-width:40rem){
    .header{
        grid-template-columns: 1fr;
    }
    .header >div:nth-child(2){
        align-items: center;
    }
}