{% extends "navbar.html" %}
{% load static %}
{% block content %}
    
    <main class="form">
    <form method="POST" class="container" enctype="multipart/form-data">
{% csrf_token %}
  <h1>Add Blog</h1>
  <input type="text" name="type" id="" required>
  <label for="text"><span>Type</span></label>
  <input type="text" name="titre" id="" required>
  <label for="text"><span>Titre</span></label>
  <input type="text" name="text" id="" required>
  <label for="text"><span>Text</span></label>
  <input type="file" name="image" id="" required accept="image/png, image/jpg, image/gif, image/jpeg">
  <button type="submit">Add Blog</button>
</form>
    </main>
{% endblock content %}